<!DOCTYPE html>
<html lang="en">
<head>
  <body style="background-color: rgb(184, 161, 159)"></body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upcoming </title>
    <h1> Your upcoming reminder</h1>
      {{ response }}
    <h2>When to be completed by </h2>
      {{ response2 }}
    <h3> Look at your past assignments</h3>
    <div style="text-align:center">
      <ul>
        {% for reminder in accomplished %}
        <li>
          <p> {{ reminder["reminder"] }} {{ reminder["date"] }}</p>
          <a href = "/delete/{{reminder['rowid']}}" > <button>Delete</button></a>
          <a href = "/edit/{{reminder['rowid']}}" > <button>Edit</button></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    
      
    
    
</head>
</html>