body {
    background-color: rgb(226, 80, 105);
    font-family:fantasy;
    text-align: center;

}

h1{ 
    font-style: freckle face;
    text-align: center;
   
}

h2{
    font-style: freckle face;
    text-align: center;

}

{
    
}

input{

}
